@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Poppins', sans-serif;
    
    --color-brand-dark: #4A2B1D;
    --color-brand-primary: #8C5230;
    --color-brand-light: #FAF6F0;
    --color-brand-card: #FFFBF5;
}

